.page-title {
    background-color: #000;
    margin: 0;
    padding-bottom: 5px;
}

.edit-container {
    width: 750px;
    margin: auto;
}

.edit {
    text-align: center;
}

.edit-section {
    display: flex;
    justify-content: space-between;
}

.edit-basic {
    flex-direction: column;
    padding-top: 0;
}

.edit-image {
    margin: auto;
    margin-bottom: 25px;
    position: relative;
    width: 200px;
}

.upload-img-btn {
    position: absolute;
    background-color: #ffffff85;
    background-image: url("./images/upload.png");
    width: 100%;
    height: 100%;
    transition: 0.25s;
    cursor: pointer;
    border: 0px;
    font-size: 0;
    box-shadow: 1px 1px 1px 1px gray;
    background-position: center;
    background-size: 40% 40%;
    background-repeat: no-repeat;
    left: 0;
}

.upload-img-btn:hover {
    background-color: #ffffff98;
}

.edit-profile-urls {
    margin-top: 25px;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-field input {
    font-size: 20px;
    min-width: 300px;
    max-width: 50%;
    margin: auto;
}

.section-divider {
    margin-top: 45px;
}

.save {
    cursor: pointer;
    padding: 10px;
    background-color: #F3CE1B;
    border: 1px solid black;
    width: 100px;
}

.save-container {
    align-items: center;
    display: flex;
}

.saved {
    color: #F3CE1B;
}

.view-profile {
    background: none;
    border: 0;
    font-size: 20px;
    color: #4fb1fe;
}